# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE files
.vscode/
.idea/


# Ignore dataset folder
Face_Dataset/


# Ignore YOLO models and weights
*.pt
runs/


# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
myenv/
.env/
*.env

# Ignore large temporary files
*.tar.gz
*.zip
*.tgz

# Ignore log files
*.log

# Ignore any other backup files
*~

